# Cloudinary Credentials (from your Cloudinary dashboard)
CLOUDINARY_CLOUD_NAME=df2b1hvbj
CLOUDINARY_API_KEY=384493437157766
CLOUDINARY_API_SECRET=LPd6g0CusOGw1f3oBDGuugzZCX4

# Server Port
PORT=3000

# Node Environment
NODE_ENV=development
